
<div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mt-2 ">
    <!-- <img class="w-full" [src]="product?.image" alt="{{product?.title}}"> -->
    <div class=" mt-2 text-center">
        <span class="    text-sm font-semibold text-red-400 mr-2 mb-2">Design</span>
        <span class="   text-sm font-semibold text-yellow-500 mr-2 mb-2">Feature</span>
        <span class="  text-sm font-semibold text-blue-600 mr-2 mb-2">Views</span>
        <span class=" text-sm font-semibold text-gray-700 mr-2 mb-2">Views</span>
  
      </div>
   
    <div class="text-center">
      <div class="font-bold text-xl mb-2 mt-2">{{product?.name}}</div>
      <p class="text-gray-700 text-base">
       {{product?.price}}
      </p>
      <p class=" text-sm font-semibold text-yellow-500 " >loadd</p>
    </div>
   
  </div>
