
<div class="bg-gray-100 rounded rounded-2xl -mt-52 ">
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6">
    <div class="bg-gradient-to-r from-blue-500 to-blue-600 text-white shadow-lg rounded-lg p-6 transition transform hover:scale-105">
      <h3 class="text-lg font-semibold">Total Products</h3>
      <p class="text-3xl font-extrabold">{{productCount}}</p>
    </div>
    <div class="bg-gradient-to-r from-green-500 to-green-800 text-white shadow-lg rounded-lg p-6 transition transform hover:scale-105">
      <h3 class="text-lg font-semibold">Total Users</h3>
      <p class="text-3xl font-extrabold">{{userCount}}</p>
    </div>
    <div class="bg-gradient-to-r from-yellow-500 to-yellow-600 text-white shadow-lg rounded-lg p-6 transition transform hover:scale-105">
      <h3 class="text-lg font-semibold">Total Orders</h3>
      <p class="text-3xl font-extrabold">{{orderCount}}</p>
    </div>
    <div class="bg-gradient-to-r from-purple-500 to-purple-600 text-white shadow-lg rounded-lg p-6 transition transform hover:scale-105">
      <h3 class="text-lg font-semibold">Total Revenue</h3>
      <p class="text-3xl font-extrabold">$34</p>
    </div>
  </div>
</div>