<nav>
    <div class="bg-blue-100 mt-4 text-blue-400 w-full flex justify-evenly items-center gap-7 ">
        <ul class=" w-9/12 h-full mt-3 p-1   flex flex-row -space-x-64 justify-around items-center">
           <a class="no-underline cursor-pointer" routerLink="about"><li class="flex ">DESIGN</li></a> 
           <a class="no-underline cursor-pointer" routerLink="forms"> <li class="flex">INSPIRATION</li></a> 
           <a href="#" class="no-underline"><li class="flex">SPORTS</li></a> 
           <a href="#" class="no-underline"><li class="flex">POLITICS</li></a> 
           <a href="#" class="no-underline"><li class="flex">FASHION</li></a> 
           <a href="#" class="no-underline"><li class="flex">GENERAL KNOWLEDGE</li></a> 
           <a href="#" class="no-underline" *ngIf="username"><li class="flex">GRAPHICS</li></a> 
          

        </ul>
        <div class="flex flex-row justify-evenly items-center gap-7">
            <div class="flex flex-col items-center" *ngIf="username">
                <p class="relative">{{ username }}</p>
                <span class="bg-green-800 rounded-full  absolute w-3 h-3 mt-3 ml-20"></span> <!-- Green badge -->
            </div>
                <div class="flex"> <button class="" (click)="logout()" ><p *ngIf="username" >LOG OUT</p></button></div>
        </div>
  
    </div>
</nav>