<div class="w-full flex flex-col justify-evenly items-center mt-6">
  <div class="w-10/12 flex flex-col md:flex-row bg-white">
    
    <!-- Main Content Section -->
    <div class="w-full md:w-9/12 flex flex-col h-full p-1 shadow-lg justify-evenly items-center">
      <div class="w-full relative  justify-evenly h-auto items-center flex">
        <img class="w-full h-96 object-cover" [src]="productDetails?.image" alt="{{ productDetails?.name }}" />
      </div>
      <div class="star-rating absolute flex top-96 left-36">
        <span *ngFor="let star of [1, 2, 3, 4, 5]" 
              (click)="setRating(star)" 
              class="cursor-pointer text-4xl mr-1"
              [class.text-yellow-500]="star <= (productDetails?.rating ?? 0)">
          ★
        </span>
      </div>
      <div class="flex flex-col md:flex-row md:ml-48 w-full gap-3 items-start mt-2">
        <h1 class="text-sm text-red-400">Design</h1>
        <h1 class="text-sm text-green-600">Feature</h1>
        <h1 class="text-sm text-blue-600">Views -1290</h1>
        <h1 class="text-sm text-yellow-500">Date: {{productDetails?.formattedDate}}</h1>
      </div>
      <div class="flex flex-col w-full p-2">
        <h1 class="font-bold text-lg">Description for single post</h1>
       
       
        <p>{{productDetails?.description}}</p>
        <p>{{productDetails?.category}}</p>
        <p class="text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur
           adipisicing elit Lorem ipsum dolor, sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, 
           sit amet consectetur adipisicing elit Lorem ipsum dolor, sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
           Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem ipsum dolor, sit Lorem ipsum dolor, sit amet consectetur
           adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem ipsum dolor, sit Lorem ipsum dolor, sit 
            amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem ipsum dolor, sit Lorem 
            ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem ipsum dolor, 
            sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem ipsum 
            dolor, sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit Lorem 
            ipsum dolor, sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elitLorem ipsum dolor,
            it amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit </p>
      </div>
      <div class="w-full mt-5 flex flex-col gap-2 justify-evenly items-center">
        <app-comment-form></app-comment-form>
      </div>
      <div class="w-full mt-5 flex flex-col gap-2 justify-evenly items-center">
        <app-comment-list></app-comment-list>
      </div>
    </div>

    <div class="w-full md:w-3/12 flex flex-col shadow-lg justify-start items-center p-2 mt-4 md:mt-0">
      <h1 class="text-green-800 font-bold text-2xl mb-4">Related Products</h1>
      
      <div *ngFor="let product of displayedProducts" (click)="goToProductDetails(product.id)" class="m-1 w-full flex md:flex-shrink-0 ">
          <app-related-post [product]="product"></app-related-post>
      </div>
      <button *ngIf="productList.length > 4" (click)="toggleShowMore()" class="mt-4">
        {{ showAll ? 'Show Less' : 'Show More' }}
      </button>
    </div>
  </div>

  <div class="flex w-full mt-10">
    <app-subscription-form></app-subscription-form>
  </div>
</div>