
<div *ngIf="commentList.length > 0" class="w-full flex flex-col gap-2 mb-5 justify-evenly items-center">
  <h1>Comments ({{commentList.length}})</h1>
  <div *ngFor="let comment of displayedComments" class="w-full bg-white shadow-lg flex flex-col rounded-lg py-2 px-5">
    <h3 class="text-sm">{{comment.user_name}}</h3>
    <h4 class="text-sm text-yellow-500">Written {{ comment.formattedDate }}</h4>
    <h5 class="text-sm">{{comment.content}}</h5>
    <div class="flex flex-row gap-4 text-sm">
      <div><h4 class="text-sm text-blue-600">reply</h4></div>
      <div><h4 class="text-sm text-blue-600">view reply</h4></div>
    </div>
  </div>
    <button *ngIf="commentList.length > 4" (click)="toggleShowMore()" class="mt-4">
        {{ showAll ? 'Show Less' : 'Show More' }}</button>
</div>