
<div class=" w-full flex flex-col gap-2 mb-5 justify-evenly items-center ">
    <h1>Comments (25)</h1>
<div class="w-full bg-white shadow-lg flex flex-col rounded-lg py-2 px-5">
<h3 class="text-sm">john doe</h3>
<h4 class="text-sm text-yellow-500">updated 9/4/2017</h4>
<h5 class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore alias veniam nobis voluptates rem incidunt fugit veritatis, nam quod numquam necessitatibus itaque. Mollitia, et illum quidem nulla numquam nisi deleniti.</h5>
<div class="flex flex-row gap-4 text-sm">
    <div><h4 class="text-sm text-blue-600">reply</h4>
    </div>
    <div><h4 class="text-sm text-blue-600">view reply</h4>
    </div>
</div>
</div>
<div class="w-full bg-white shadow-lg flex flex-col rounded-lg py-2 px-5">
    <h3 class="text-sm">john doe</h3>
    <h4 class="text-sm text-yellow-500">updated 9/4/2017</h4>
    <h5 class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore alias veniam nobis voluptates rem incidunt fugit veritatis, nam quod numquam necessitatibus itaque. Mollitia, et illum quidem nulla numquam nisi deleniti.</h5>
    <div class="flex flex-row gap-4 text-sm">
        <div><h4 class="text-sm text-blue-600">reply</h4>
        </div>
        <div><h4 class="text-sm text-blue-600">view reply</h4>
        </div>
    </div>
    </div>
</div>
