<div class="max-w-md mx-auto p-6 bg-white rounded-lg mt-20 shadow-md">
  <h2 class="text-xl font-semibold mb-4 text-center">Add Product</h2>
  <form>
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-medium mb-2">Product Name:</label>
      <input 
        class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500" 
        type="text" 
        id="name" 
        [(ngModel)]="product.name" 
        name="name" 
        required 
      />
    </div>
    <div class="mb-4">
      <label for="price" class="block text-gray-700 font-medium mb-2">Product Price:</label>
      <input 
        class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500" 
        type="number" 
        id="price" 
        [(ngModel)]="product.price" 
        name="price" 
        required 
      />
    </div>
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-medium mb-2">Product Description:</label>
      <input 
        class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500" 
        type="text" 
        id="name" 
        [(ngModel)]="product.description" 
        name="description" 
        required 
      />
    </div>
    <div class="mb-4">
      <label for="category" class="block text-gray-700 font-medium mb-2">Product Category:</label>
      <select 
        class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500"
        id="category" 
        [(ngModel)]="product.category" 
        name="category" 
        required
      >
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-medium mb-2">Product Image:</label>
      <input 
        class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500" 
        type="file" 
        id="name" 
        (change)="onFileSelected($event)"
        [(ngModel)]="product.image" 
        name="image" 
        required 
      />
  
    </div>
  
    <button 
      type="submit" 
      (click)="addProduct()" 
      class="w-full bg-green-500 text-white font-semibold py-2 rounded-lg hover:bg-green-600 transition duration-300"
    >
      Add Product
    </button>
  </form>
</div>