<div class="bg-white flex flex-col justify-evenly items-center">
    <div class="bg-green-800 w-full">
        <div class="text-center text-slate-100 mt-5 mb-4">
            <h2>Featured</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maiores perferendis, eligendi nihil, eveniet enim obcaecati delectus deleniti tempora dolorem cum fuga distinctio officia magni odit quia eum reiciendis id?</p>
        </div>
        <div class="grid md:grid-cols-4 p-4 space-x-2 justify-evenly grid-cols-2 items-center mb-5">
            <div *ngFor="let product of productList">
                <app-card [product]="product"></app-card>
            </div>
        </div>
    </div>
    <div class="bg-slate-200 w-full mt-2">
        <div class="text-center from-white mb-4">
            <h2>Latest</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maiores perferendis, eligendi nihil, eveniet enim obcaecati delectus deleniti tempora dolorem cum fuga distinctio officia magni odit quia eum reiciendis id?</p>
        </div>
        <div class="grid md:grid-cols-4 p-4 space-x-2 justify-evenly grid-cols-2 items-center mb-10">
            <div *ngFor="let product of lProduct">
                <app-latect-c [product]="product"></app-latect-c>
            </div>
        </div>
        <div class="flex justify-evenly items-center w-full mb-32">
            <app-subscription-form></app-subscription-form>
        </div>
    </div>
</div>