<div class="w-full flex flex-col justify-evenly items-center mb-36">
  <div class="w-10/12 justify-evenly items-center flex flex-row">
    <div
      class="w-9/12 flex flex-col h-full p-1 shadow-lg justify-evenly items-center"
    >
      <div class="w-full justify-evenly items-center flex">
        <img
          class="w-full"
          src="https://plus.unsplash.com/premium_photo-1730828573938-003e14f210f4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8"
          alt="Sunset in the mountains"
        />
      </div>
      <div class="flex flex-row ml-48 w-full gap-3 items-start">
        <h1 class="text-sm text-red-400">Design</h1>
        <h1 class="text-sm text-green-600">Feature</h1>
        <h1 class="text-sm text-blue-600">Views -1290</h1>
        <h1 class="text-sm text-yellow-500">Date: 20/1/2017</h1>
      </div>
      <div class="flex flex-col w-full p-2">
        <h1>Description for single post</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          excepturi harum, saepe ea obcaecati dolorem facilis officia aspe
          adipisicing elit. Odio excepturi harum, saepe ea obcaecati dolorem
          facilis officia aspe adipisicing elit. Odio excepturi harum, saepe ea
          obcaecati dolorem facilis officia aspe adipisicing elit. Odio
          excepturi harum, saepe ea obcaecati dolorem facilis officia aspe
          adipisicing elit. Odio excepturi harum, saepe ea obcaecati dolorem
          facilis officia aspe adipisicing elit. Odio excepturi harum, saepe ea
          obcaecati dolorem facilis officia aspe adipisicing elit. Odio
          excepturi harum, saepe ea obcaecati dolorem facilis officia aspe
          adipisicing elit. Odio excepturi harum, saepe ea obcaecati dolorem
          facilis officia aspe adipisicing elit. Odio excepturi harum, saepe ea
          obcaecati dolorem facilis officia aspe adipisicing elit. Odio
          excepturi harum, saepe ea obcaecati dolorem facilis officia asperiores
          dolores quasi accusamus fuga consectetur. Officiis nam non possimus
          voluptatem, cumque deleniti?
        </p>
      </div>
      <div class="w-full mt-5 flex flex-col gap-2 justify-evenly items-center">
        <app-comment-form></app-comment-form>
      </div>
        <div class="w-full mt-5 flex flex-col gap-2 justify-evenly items-center">
          <app-comment-list></app-comment-list>
          
        </div>
      
    </div>

    <div class="w-3/12 flex flex-col p-1 shadow-lg justify-evenly items-center">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="flex w-full mt-10">
    <app-subscription-form></app-subscription-form>
  </div>
  
  
</div>
